<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About Wander World</h1>
            <h3>What is Wander World?</h3>
            <hr>
            <p>
              <strong class="text-danger">Wander World</strong> is a web site where users can share their products experiences which will help other users to choose their next item to buy. To get started, simply
              <a href="/register">sign up</a>.
            </p>
            <p>
              Wander world is a web dev project created using Node.js, Express, MongoDB, and Bootstrap. Passport.js is used to handle authentication.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>Users can create, edit, and remove thier products</li>
              <li>Users can review products, and can edit or remove their review</li>
              <li>User profiles have information on the user, such as their name, email, join date, blogs, and the option to edit or delete their profile</li>
              <li>Search product by name or location</li>
              <li>Sort products by highest rating, most reviewed, lowest price, or highest price</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>